body{
    background:#1e1f24;
    color:#333;
    text-align:center;
    font-family:Arial;
    font-size:16px;
    margin:0;
    padding:0;

}

#cabecera{
    background:#37488b;
    box-shadow:0 2px 20px 0 rgba(0,0,0,.5);
    color:#fff;
    font-weight:700;
    margin:0;
    padding: 5px 10px 15px 10px;
    border-radius: 25px;
    font-size: 1.5em;

}

#cabecera #logo{
    width:200px;
    vertical-align:middle
    

}

#tagline{
    padding:0 0 0 1em;
    font-weight:400;
    font-size:.8em;

}

#container{
    width:50%;
    padding:0;
    border:5px solid #ddd;
    margin:0 auto;
    border-radius: 29px;
    background-color: #fff;
    text-align:left;

}

#container h1{
    font-size:20px;
    margin: 0px;

}

#post{
    background:#fff;
    padding:1em;
    border-radius: 25px;
    text-align: justify;
    
}

#titulo{
    position: relative;
    margin-top: 5px;
    margin-bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    padding: 5px 20px 5px 15px;
    border: 0px;
    width: fit-content;
    box-shadow:0 2px 20px 0 rgba(0,0,0,.5);

}

.footer .parrafoFooter{
    background-color: darkslategray;
    color: #fff;
    text-align: center;
    margin: 0px;
    padding: 5px;
    border: 0px;
    border-radius: 0px 0px 25px 25px;
}

@media (max-width: 870px) {

    body{
        
        font-size:12px;
    }

    .tituloPost{
        font-size:14px !important;
    }


    
    #container{
        width:60%;
        padding:0;
        border:5px solid #ddd;
        margin-top: 20px;
        border-radius: 29px;
        background-color: #fff;
        text-align:left;
    
    }

    .footer .parrafoFooter{
        font-size: 10px;
    }

    
}

@media (max-width: 632px){
    #container{
        width:70%;
    }
}

@media (max-width: 425px){
    #container{
        width:80%;
    }
    #titulo{
        font-size: 16px;
    }
    #cabecera{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    body{
        
        font-size:11px;
    }

    .tituloPost{
        font-size:13px !important;
    }

    #cabecera #logo{
        width: 170px;
    }
}